@import url('https://fonts.googleapis.com/css?family=Raleway');

$avant:'AvantGardeITC';
$proximar:'Proxima Nova Rg';
$proximal:'Proxima Nova Lt';
$proximabl:'Proxima Nova Bl';
$proximaexb:'Proxima Nova Th';
$raleway: 'Raleway';

$color1:#ea3f25;
$color2:#ec6f25;
$text:#474747;
$red:#c73b55;
$bgGray:#f7f7f7;

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('../fonts/ProximaNova-Light.eot');
    src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Light.woff2') format('woff2'),
        url('../fonts/ProximaNova-Light.woff') format('woff'),
        url('../fonts/ProximaNova-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('../fonts/ProximaNova-Extrabld.eot');
    src: url('../fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Extrabld.woff2') format('woff2'),
        url('../fonts/ProximaNova-Extrabld.woff') format('woff'),
        url('../fonts/ProximaNova-Extrabld.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Noteworthy';
    src: url('../fonts/Noteworthy-Light.eot');
    src: url('../fonts/Noteworthy-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Noteworthy-Light.woff2') format('woff2'),
        url('../fonts/Noteworthy-Light.woff') format('woff'),
        url('../fonts/Noteworthy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Noteworthy Bold';
    src: url('../fonts/Noteworthy-Bold.eot');
    src: url('../fonts/Noteworthy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Noteworthy-Bold.woff2') format('woff2'),
        url('../fonts/Noteworthy-Bold.woff') format('woff'),
        url('../fonts/Noteworthy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AvantGardeITC';
    src: url('../fonts/AvantGardeITC-Demi.eot');
    src: url('../fonts/AvantGardeITC-Demi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvantGardeITC-Demi.woff2') format('woff2'),
        url('../fonts/AvantGardeITC-Demi.woff') format('woff'),
        url('../fonts/AvantGardeITC-Demi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Bl';
    src: url('../fonts/ProximaNova-Black.eot');
    src: url('../fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Black.woff2') format('woff2'),
        url('../fonts/ProximaNova-Black.woff') format('woff'),
        url('../fonts/ProximaNova-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
