.header-banner{
    position:relative;
    .image{
        height:100vh;
        min-height: 700px;
        img{
            display:none;
        }
        img,video{
            height:100vh;
            min-height: 700px;
            object-fit: cover;
            object-position: center;
            width:100%;
            pointer-events:none;
        }
    }
    &::before{
        content:"";
        display:block;
        position: absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;
        background-color:rgba(#000,0.2);
    }

    .text{
        position: absolute;
        right:0;
        top:50%;
        left:0;
        text-align:center;
        max-width:650px;
        transform:translateY(-50%);
        color:#fff;
        text-align:left;
        margin:0 auto;
    }

    .logo{
        max-width:180px;
        margin:0 auto 50px;
    }
    #holder{
        

        -webkit-user-select: none;  
        -moz-user-select: none;    
        -ms-user-select: none;     
        -o-user-select: none;
        user-select: none;
        min-height:35px;
         margin-bottom:5px;
        #slogans{
			position: relative;
			top: 0px;
			right: 0px;
        }
        .slogan{
            text-rendering: optimizeLegibility;
            margin: 0px;
            right:0;
            text-align:left;
		
            strong{
                display:block;
                position:relative;
                opacity:0;
                font:35px $avant;
                
            }
        }
    }
    p{
        font:18px/1.4 $raleway;
    }
    .phone{
        display:none;
        margin:25px auto;
        max-width:300px;
        border-top:1px solid rgba(255, 255, 255, 0.5);
        border-bottom:1px solid rgba(255, 255, 255, 0.5);
        padding:10px 0;
        font:30px/1 $proximabl;
        span{
            font:14px $proximar;
            display:block;
        }
    }

    

    .custom-form{
        flex-flow: row;
        // border:1px solid #dedede;
        border-radius:5px;
        max-width:650px;
        margin:30px auto 30px;
        border:none;
       
        .form-group{
            flex-flow:row;
            width:100%;
            position:relative;
            .location{
              
                height:40px;
                
                border-radius:2px;
                font-size:12px;
                position:absolute;
                text-transform:initial;

                top:5px;
                line-height: 40px;
                right:160px;
                color:$text;
                cursor: pointer;
                &:hover,&:focus{
                    color:$color1;
                }
                
            }
            .form-control{
                height:50px;
                border:none;
                font-size:18px;
                border-radius:3px 0 0 3px;
                &:focus{
                    box-shadow:none;
                    outline:none;
                }
            }

            input.btn{
                height:50px;
                width:180px;
                font-weight:700;

                text-transform:uppercase;
                font-size:14px;
                border-top-left-radius:0;
                border-bottom-left-radius:0;
            }
        }


    }

    .buttons{
        display:flex;
        flex-direction:row;
        justify-content:center;
        margin-bottom:20px;
        .btn{
            display:block;
            margin:0 5px;
            padding:15px 35px;
        }
    }

    .social-icons{
        li{
            display:inline-block;
            margin:0 5px;
            a{
                height:35px;
                width:35px;
                display:block;
                border-radius:100%;
                line-height: 35px;
                text-align: center;
            }
        }
    }

    .scroll{
        font-size:25px;
        color:#fff;
        position:absolute;
        left:0;
        right:0;
        bottom:50px;
        text-align:center;
        width:40px;
        cursor: pointer;
        margin:0 auto;
        
    }

    .social-icons{
        text-align:center;
    }

    @include custom_max(991px){
        .scroll{
            bottom:10px;
        }
        .image{
            height:auto;
            min-height:600px;
            img{
                min-height:600px;
            }
        }

        .logo{
            max-width:130px;
        }
        #holder{
            min-height: 25px;
           .slogan{
               strong{
                   font-size:22px;
               }
           }
        }
        p{
            font-size:16px;
        }
        .phone{
            max-width:200px;
            font-size:18px;
            span{
                font-size:14px;
            }
        }
        .custom-form{
            padding-left:15px;
            padding-right:15px;
            margin-top:30px;
            margin-bottom:30px;
            max-width:600px;
        }
        .buttons{
            .btn{
                border-radius:4px;
                padding:10px 25px;
            }
        }
        .social-icons{
            li{
                a{
                    height:30px;
                    width:30px;
                    font-size: 16px;
                    line-height: 30px;
                }
            }
        }
    }
    @include custom_max(767px){
        .image{
            img{
                object-position: 25%;
            }
        }
    }
    @include custom_max(575px){
        .image{
            img{
                min-height:500px;
            }
        }
        #holder{
            min-height:18px;
            margin-bottom:10px;
            .slogan{
                strong{
                    font-size:18px;
                }
            }
        }
        p{
            font-size:14px;
        }
        .custom-form{
           
            .form-group{
                margin: 0;
                .location{
                    right:15px;
                }
                .form-control{
                    border-radius:4px 4px 0 0 ;
                    font-size:14px;
                }
                input.btn{
                    width:100%;
                    border-radius:0 0 4px 4px;
                    height:45px;
                    font-size:14px;
                    
                }
            }
        }
    }
}