.footer{
    padding:30px 0 0px;
    h2{
        font:14px $avant;
        text-transform:uppercase;
    }
    ul{
        margin-bottom:15px;
        li{
            a{
                display:block;
                padding:5px 0;
                color:$text;
                font-size:14px;
                &:hover{
                    color:$color1;
                }
            }
        }
        &.social-icons{
            margin-top:15px;
            li{
                display:inline-block;
                margin:0 3px;
                a{
                    height:25px;
                    width:25px;
                    font-size:14px;
                    color:#fff;
                    text-transform:uppercase;
                    text-align:center;
                    border-radius:50px;
                }
            }
        }
    }
    .copyright{
        margin-top:30px;
        background-color:#000;
        color:#fff;
       .container{
            display:flex;
            flex-direction:row;
            justify-content: space-between;
            font-size:12px;
            padding:10px;
            align-items: center;
            p{
                margin:0;
            }
       }
       a{
           color:#fff;
           font:14px $proximal;
           &:hover{
               color:lighten($color1,10%);
           }
       }
       .color-1{
           color:$red;
       }
    }

    @include custom_max(575px){
        text-align: center;
        .copyright{
            .container{
                flex-direction: column;
            }
        }
    }
}