.navbar{
    background-color:#fff !important;
    padding:15px 0;
    z-index:9999 !important;
    
    &-brand{
        max-width:150px;
        transition:all 0.2s ease;
    }   

    &-nav{
        .nav-item{
            position:relative;
            &::before{
                content:"";
                display:block;
                height:50px;
                width:50px;
                position:absolute;
                top:50%;
                transform:translateY(-50%);
                margin:0 auto;
                left:0;
                right:0;
                opacity:0;
                background: url(../images/fork-knife.png) no-repeat  center center ;
                background-size:32px;
                transition:all 0.4s;
            }
            .nav-link{
                color:$text;
                display:block;
                padding:10px 20px;
                position:relative;
                
            }

            .btn{
                color:#fff;
                text-transform: uppercase;
                font-size:14px;
                margin-left:15px;
            }

            &.active{
                &::before{
                    opacity:0.2;
                }
                .nav-link{
                    color:$color1;
                }
            }
        }
    }

    &.sticked{
        box-shadow:0 5px 10px -5px rgb(201, 201, 201);
        padding:0;
        .navbar-brand{
            max-width:80px;
        }
    }

    @include custom_max(991px){
        .container{
            max-width:100% !important;
        }
        &-nav{
            .nav-item{
                .nav-link{
                    font-size:14px;
                    padding:10px 14px;
                }
                .btn{
                    font-size:12px;
                }
            }
        }

        &-brand{
            max-width:90px;
            flex:0 0 90px;
        }
    }

    @include custom_max(800px){
        &-nav{
            .nav-item{
                .nav-link{
                    font-size:12px;
                    padding:10px 12px;
                }
            }
        }
    }

    @include custom_max(767px){
        &-toggler{
            border:none;
            margin-right:15px; 
            &-icon{
                width:20px;
            }
            &:hover,&:focus{
                outline:none;
            }
        }

        &-nav{
            padding-bottom: 15px;
            max-height: 350px;
            overflow:auto;
            .nav-item{
                .nav-link{
                    text-align: center;
                    font-size:14px;
                    
                }
                .btn{
                    max-width:200px;
                    margin:0 auto;
                }
            }
        }
    }
}