.section-quick-search{
    text-align:center;
    padding:40px 0;
    margin-top:60px;
    background-color:$bgGray;
    .content{
        h4{
            color:$color1;
            font:14px $avant;
            text-transform:uppercase;
            margin-bottom:0;
        }
        p{
            font-size:14px;
            margin-bottom:30px;
            color:$text;
        }
    }

    .search-row{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-flow:row wrap;
        .item{
            max-width:200px;
            padding:10px 30px;
            a{
                display:block;
                font-size:14px;
                color:$text;
                span{
                    display:block;
                }
                img{
                   max-width:70px;
                   transition:all 0.4s;
                }
                &:hover{
                    img{
                        transform: scale(1.1,1.1);
                    }
                }
            }
        }
    }

    @include custom_max(575px){
        .search-row{
            .item{
                width:50%;
                flex:0 0 50%;
            }
        }
    }
}