.section-favorite{
  
    position: relative;
    .section-image{
        width:100%;
        img{
            position:absolute;
            &.img-left{
                top:50px;
                left:0;
            }
            &.img-right{
                top:-150px;
                right:0;
            }
        }
    }

    .item{
        display:flex;
        flex-direction:row;
        width:100%;
        align-items:center;
        margin-bottom:50px;
        .image{
            flex:0 0 150px;
            width:150px;
            border-radius:100%;
            border:5px solid #eee;
            overflow: hidden;
            box-shadow:0 6px 15px -10px #000;
            
            img{
                border-radius:100%;
                transition:all 0.4s;
            }
            &:hover{
                img{
                    transform:scale(1.1,1.1);
                }
            }

        }
        .text{
            padding-left:15px;
            .title{
                font:16px/1.2 $proximaexb;
                color:#000;
            }
            .price{
                color:$red;
                font:25px $proximaexb;
                span{
                    font:18px $proximar;
                    color:$text;
                
                }
            }
            .btn-orange{
                margin-top:10px;
            }
        }
    }

    .btn-all{
        max-width:150px;
        width:100%;
        margin:50px auto -85px;
        padding:10px 25px;
        display: block;
    }

    @include custom_max(1500px){
        .section-image{
            img{
                &.img-left{
                    max-width:200px;
                    left:-50px;
                }
                &.img-right{
                    max-width:150px;
                }
            }
        }
    }

    @include custom_max(1199px){
        .item{
            .text{
                .price{
                    font-size:18px;
                    span{
                        font-size:14px;
                    }
                }
            }
        }
    }

    @include custom_max(767px){
        .section-image{
            img{
                &.img-left,&.img-right{
                    max-width:100px;
                    top:50%;
                }
                &.img-right{
                    top:20%;
                }
            }
        }
        .item{
            flex-direction: column;
            .image{
                flex:0 0  100px;
                width:100px;
            }
            .text{
                padding-left:0;
                padding-right:0;
                margin-top:10px;
                text-align:center;
            }
        }
        .slick-slide{
            &:hover,&:focus{
                outline:none;
                box-shadow:none;
            }
        }

        .slick-arrow{
            position: absolute;
            top:50%;
            transform:translateY(-50%);
            box-shadow:0 6px 15px -10px #000;
            height:30px;
            width:30px;
            background-color:$color1;
            color:#fff;
            text-align:center;
            line-height: 30px;
            border-radius: 100%;
            font-size:14px;
            cursor: pointer;
            transition:all 0.4s;
            &-left{
                left:10px;
            }
            &-right{
                right:10px;
            }
            &:hover{
                background-color: darken($color1,10%);
            }
            
        }
    }
}