.section-findings{
    p{
        color:$text;
        font-size:14px;
        text-align:center;
        color:$text;
        line-height:1.6;
    }

    form{
        max-width:650px;
        width:100%;
        display: flex;
        flex-flow: row;
        border:1px solid #dfdfdf;
        margin:10px auto 45px;
        border-radius:5px;
        box-shadow:0 5px 10px -5px rgb(201, 201, 201);
        .form-control{
            width:100%;
            height:45px;
            border:none;
            border-radius: 0;
        }
        .btn{
            height:45px;
            width:200px;
            border-radius:0 5px 5px 0;
            text-transform:uppercase;
            color:#fff;
            font-size:14px;
        }
        .left-btn{
            background-color:#fff;
            padding:0 15px;
            color:#fff;
            line-height:45px;
            height:45px;
            color:$color1;
            border-radius:5px 0 0 5px;
        }
    }

    .text{
        margin-top:40px;
        .title{
            color:#000;
            font:16px $proximar;
            margin-bottom:20px;
        }
        ul{
            margin-bottom:15px;
            li{
                font-size:14px;
                color:$text;
                margin-bottom:15px;
            }
        }
        .contact{
            position:relative;
            padding-left:40px;
            .image{
                position:absolute;
                left:0;
                top:-10px;
            }
            .text{
                padding-left:20px;
                h4{
                    font-size:14px;
                    text-transform:uppercase;
                }
                p{
                    color:$color1;
                    font:30px $avant;
                    text-align:left;
                }
            }
        }
    }

    @include custom_max(991px){
        .text{
            .contact{
                padding-left:30px;
                .image{
                    max-width:30px;
                }
                .text{
                    padding-left:15px;
                    p{
                        font-size:20px;
                    }
                }
            }
        }
    }

    @include custom_max(767px){
        .title{
            font-size:14px;
        }
    }
    
}