.section-testimonials{
   
    background:url(../images/testimonial-bg.jpg) no-repeat center center /cover;
    position:relative;
    &::before{
        content:"";
        display:block;
        position:absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
        background-color:rgba(#000,0.5);
    }
    .container{
        position:relative;
        z-index:9;
    }
    .section-header{
        color:#fff;
    }

    .content{
        color:#fff;
        .image{
            width:65px;
            height:65px;
            margin:0 auto;
            overflow:hidden;
            border:2px solid $bgGray;
            border-radius:100%;
        }
        .text{
            max-width:500px;
            margin:25px auto 40px;
            text-align:center;
            .name{
                margin-bottom:20px;
                font:16px $raleway;
            }
            .mesage{
                color:$bgGray;
                line-height:1.8;
            }
        }
    }
    .slick-slide{
        &:hover,&:focus{
            outline:none;
            border:none;
            box-shadow:none;
        }
    }
    .slick-dots{
        text-align: center;
        li{
            display:inline-block;
            margin:0 2px;
            button{
                text-indent:-99999px;
                height:7px;
                width:7px;
                background-color:#fff;
                border-radius:100%;
                border:none;
                padding:0;
                cursor: pointer;
            }
            &.slick-active{
                button{
                    background-color:$color1;
                }
            }
        }
    }

    @include custom_max(575px){
        .content{
            .text{
                font-size:14px;
                .name{
                    font-size:16px;
                }
            }
        }
    }
}