.section-offer{
    padding:100px 0 130px;
    background:url(../images/brush-paint.png) no-repeat center center;
    text-align: center;
    color:#fff;
    .item{
        text-shadow:0 0 2px #812604;
        h2{
            font:25px/1.6 $raleway;
        }
        p{
            span{
                font:30px $proximaexb;
                color:#000;
                
            }
        }

        .btn{
            padding:15px 25px;
        }
    }
    @include custom_max(767px){
        background-size:cover;
        padding:40px 0;
        .item{
            padding-top:20px;
            h2{
                font-size:20px;
            }
            p{
                font-size:14px;
                span{
                    font-size:20px;
                }
            }
        }
    }
}