.section-list{
    @include gradient($color1,$color2);
    padding:45px 0;
    color:#fff;
    text-align:center;
    font:20px $raleway;
    a{
        color:#fff;
        &:hover{
            color:#000;
        }
    }

    @include custom_max(767px){
        font-size:18px;
    }
    @include custom_max(575px){
        font-size:16px;
    }
}