.section-popular{
    background-color: $bgGray;
    padding-top:80px;
    
    .item{
        text-align: center;
        font-size:16px;
        margin-bottom:15px;
        .image{
            a{
                
                border-radius:4px;
                overflow:hidden;
                display:block;
                max-width:130px;
                margin:0 auto 15px;
                box-shadow:0 5px 10px -5px rgb(201, 201, 201);

                img{
                    width:100%;
                }
            }
            .text{
                padding:5px;
            }

        }
    }

    .total{
        display:flex;
        flex-direction: row;
        font-size:14px;
        justify-content: space-between;
        align-items: center;
        position:relative;
        margin-top:30px;
        &::before{
            content:"";
            display:block;
            width:100%;
            height:1px;
            background: lighten($text, 50%);
            position:absolute;
            left:0;
            right:0;
            top:10px;
        }
        .number,.button{
            position:relative;
            z-index:1;
            box-shadow:0 0 0px 5px $bgGray;
        }
        span{
            background-color:$bgGray;
           
        }
        a{
            color:$color1;
            background-color:$bgGray;
            
        }
    }

    @include custom_max(767px){
        .item{
            margin-bottom:20px; 
            .text{
                font-size:14px;
            }
        }
    }
}