.btn{
    &.btn-custom{
        @include gradient($color1,$color2);
        color:#fff;
        
        &:hover,&:focus{
            color:#fff;
            @include gradient($color2,$color1);
        }
    }
    &.btn-orange{
        background-color:$color2;
        color:#fff;
        font:14px $avant;
        transition:all 0.4s;
       &:hover,&:focus{
           color:#fff;
           background-color:darken($color2,10%);
       }
    }

    &.btn-ghost{
      background-color:transparent;
      border:1px solid #fff;
      color:#fff;
      font:14px $avant;
      &:hover{
        background-color:#fff;
        color:$color1;
      }
    }
}