ul{
    margin:0;
    padding:0;
    list-style: none;
}
a{
    text-decoration:none;
    &:hover,&:focus{
        text-decoration:none;
    }
}

.form-control{
    &:hover,&:focus{
        outline:none;
        box-shadow:none;
    }
}

img{
    max-width:100%;
}

.beat{
    animation: heartbeat 1s infinite;
}

// icons
$icons: (
    facebook: (char: "\f09a", color: #3b5998),
    twitter:  (char: "\f099", color: #55acee),
    google:   (char: "\f0d5", color: #dd4b39),
    instagram:(char: "\f16d", color: #292728)
    // linkedin: (char: "\f0e1", color: #0977b5),
    // dribbble: (char: "\f17d", color: #ea4c89),
    // rss:      (char: "\f09e", color: #ff6600)
);
a{
    @each $social, $icon in $icons {
        &[href*="#{$social}"] {
            background-color: map-get($icon, color);
            font-family: 'FontAwesome';
            color:#fff;
            transition:all 0.4s;
            &:before {
                content: map-get($icon, char);
            }
            span{
                display:none;
            }

            &:hover{
                background-color: darken(map-get($icon, color),20%);
            }
        }
    }
}

.section{
    padding:60px 0;
    
    &-header{
        font:25px $avant;
        color:$color1;
        text-align:center;
        margin-bottom:60px;
        span{
            color:#000;
        }
    }

    @include custom_max(991px){
        &-header{
            font-size:20px;
        }
    }
}

.separator{
    position:relative;
    z-index:99;
    &::before{
        content:"";
        max-width:650px;
        width:100%;
        height: 2px;
        background-color:rgba($color1,0.3);
        display: block;
        margin:0 auto;
        top:50%;
        transform:translateY(-50%);
        position:absolute;
        left:0;
        right:0;
    }
    .image{
        height:50px;
        width:50px;
        background-color:#fff;
        margin:0 auto;
        border-radius:100%;
        position:relative;
        z-index:1;
        box-shadow:0 3px 15px -12px #000;
        display:flex;
        justify-content: center;
        align-items: center;
        img{

        }
    }

    @include custom_max(767px){
        &::before{
            max-width:400px;
        }
        .image{
            height:35px;
            width:35px;
            padding:10px;

        }
    }
    @include custom_max(480px){
        &::before{
            max-width:300px;
        }
        .image{
            height:35px;
            width:35px;
            padding:10px;

        }
    }
}
